{% extends 'dashboard/base.html' %} 
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        {% for nt in notes %}
        <div class="col-md-3">
            <a href="{% url 'note_detail' nt.id %}">
                <div class="card">
                    <div class="card-header">{{ nt.title }}</div>
                    <div class="card-body">{{ nt.description|slice:"0:100" }}</div>
                    <div class="card-footer mt-auto">
                        <a class="btn btn-primary" href="{% url 'dnotes' nt.id %}">Delete</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
    <br><br>
</div>

<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Create Notes</legend>
        </fieldset>
        {{ form }}
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Create</button>
        </div>
    </form>
</div>

{% endblock content %}
